<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" , content="width=device-width initial-scale=1.0" />
  <meta name="description" content="A WebApp that compresses pictures, changes picture formats and rotates pictures" />
  <meta name="keywords" content="Picture, photo, compress, rotate, change format" />
  <meta name="author" content="Binael Nchekwube">
  <meta charset="UTF-8" />
  <title>PHOTO COMPRESSER</title>
  <link rel="stylesheet" type="text/css" href="/template/css/styles.css" />
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Tangerine" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine" />
  <link rel="icon" type="image/png" href="/template/image/favicon.png" />
</head>

<body>
  <header class="header">
    <div class="page-icon">
      <a href="">CompJPEG</a>
    </div>
    <div class="details">
      <a href="">Sign In</a>
      <a href="" class="sign-up">Sign Up</a>
      <a href="">About</a>
      <!--<nav>
        <p></p>
      </nav>-->
    </div>
  </header>
  <main>
    <h1>Compress Your Pictures</h1>
    <form id="form-upload" action="" method="post" onsubmit="return validateForm()">
      <section>
        <fieldset>
          <legend>Select the Percecntage Compression</legend>
          <label for="compression-ratio"></label>
          <input type="range" id="compression-ratio" name="ratio" min="0" max="100" step="5" />
          <output for="compression-ratio" id="output-ratio">50</output>
        </fieldset>
      </section>
      <section class="display">
        <label for="fileUpload" class="upload">
          <input id="fileUpload" type="file" name="upload" accept=".jpg, .png, .pdf, .jpeg, .bmp" class="upload-button" required />
          <div class="image-box"><img src="" /></div>
          <p>Upload Image</p>
          <div class="table-style">
            <table class="upload-table">
              <tr>
                <td>name</td>
                <td>-</td>
              </tr>
              <tr>
                <td>format</td>
                <td>-</td>
              </tr>
              <tr>
                <td>size</td>
                <td>-</td>
              </tr>
              <tr>
                <td>resolution</td>
                <td>-</td>
              </tr>
            </table>
          </div>
        </label>
        <label for="submit">
          <div id="error-message"></div>
          <input type="submit" value="COMPRESS" name="compress-me" id="submit" />
          <p class="submit-botton">Click to <br>Compress</p>
        </label>
        <div class="download">
          <div class="image-box"><img src="" /></div>
          <p>Download Image</p>
          <div class="table-style">
            <table class="download-table">
              <tr>
                <td>name</td>
                <td>-</td>
              </tr>
              <tr>
                <td>format</td>
                <td>-</td>
              </tr>
              <tr>
                <td>size</td>
                <td>-</td>
              </tr>
              <tr>
                <td>resolution</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Percentage Compression</td>
                <td>-</td>
              </tr>
            </table>
          </div>
      </section>
    </form>
  </main>
  <footer class="footer">
    <div class="like-share">
      <img src="https://i.ibb.co/qR5nsWN/icons8-linkedin-50.png" alt="LinkedIn" />
      <img src="https://i.ibb.co/T2ny9JJ/icons8-facebook-50.png" alt="icons8-facebook-50" alt="Facebook" />
      <img src="https://i.ibb.co/vVQfQJx/icons8-twitter-50.png" alt="icons8-twitter-50" alt="Twitter" />
    </div>
    <div class="more-info">
      <a href="">Write a Review</a>
      <a href>Need Help?</a>
      <a href="">Contact Us</a>
    </div>
  </footer>
</body>

</html>
